<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcg.aitripassistant.mapper.SessionMapper">

    <insert id="insertFiveBatch">
        insert into `session`(user_id)
        values(#{user_id}),(#{user_id}),(#{user_id}),(#{user_id}),(#{user_id})

    </insert>

    <select id="selectIds" resultType="java.lang.Long" parameterType="java.lang.Long">
        select id from session
        where user_id = #{user_id}
    </select>

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        insert into session(user_id)
        values (#{userId})
    </insert>
</mapper>
